.home {
    height: auto;
    width: 100vw;
    overflow: hidden;
}

.home .books-container {
    height: auto;
    width: 90%;
    margin: 1% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1%;
}

@media (max-width: 500px) {
    .home .books-container {
        width: 95%;
    }
}