header {
    position: sticky;
    top: 0;
    height: 70px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: 1% 0;
    overflow: hidden;
    z-index: 9999999;
}

header>.logo {
    height: 90%;
    width: fit-content;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid var(--green);
}

header>.logo>img {
    height: 100%;
    width: auto;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

header>nav>a {
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

header>nav>a:hover {
    color: var(--white);
    background: radial-gradient(circle, var(--green-66), var(--green-transparent));
    border-color: var(--green);
    box-shadow: 0 0 7px 3px var(--green-80);
}

@media (max-width: 500px) {
    header {
        padding: 0 5%;
    }

    header>.logo {
        height: 70%;
    }

    header>nav {
        gap: 10px;
    }

    header>nav>div {
        font-size: small;
        padding: 10px 10px;
    }
}