.book-details {
    height: auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 0 auto;
}

.book-details .image-section {
    height: auto;
    width: 40%;
    padding: 3%;
    display: flex;
    justify-content: center;
}

.book-details img {
    height: auto;
    width: 70%;
}

.book-details .details-section {
    width: 60%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.book-details span {
    color: var(--green);
    margin: 0 0 0 20px;
}

.back-btn {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.back-btn {
    margin: 20px 0 0 40px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.back-btn:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.back-btn:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.back-btn img {
    height: 150%;
    margin-right: 8px;
}

.back-btn {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19.2px;
}

.back-btn img {
    margin-right: 0;
}